@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.nav > li > span {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #9d9d9d;
}


html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}

.bgimg {
  position: absolute;
  left: 0px;
  top: 50px;
  float: left;
  height: 548px;
  width: 100%;
  text-align: center;
  /*background:url('image1.jpg')no-repeat;   */
}

.navbar-right {
  margin-right: 10px;
}
